table td,
th {
  border: 1px solid;
  border-color: black;
  padding: 20px;
}

table th {
  background-color: rgb(148, 148, 148);
}

table .centered {
  padding: auto;
}
img{
  height: 50px;
  width: 50px;
}